@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
body{
    font-family: 'Heebo' , sans-serif;
}
.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 60px;
    padding-top: 26px;
}
.nav a{
    display: block;
    position: relative;
    text-transform: uppercase;
    padding:5px 20px;
text-align: center;
text-decoration: none;
color: #000;
margin-right:16.5px;
margin-left:16.5px;
font-size: 20px;
font-weight:500 ;
;
}
.nav a:hover{
    color: #fff;
}
.nav a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    width: 100%;
    height: 100%;
    background:#666;
    transform:scale(0);
    transition: .5s ease;
    border-radius: 25px;
    z-index: -1;
}

.nav a:hover::after{
    transform:scale(1);
   
}
.nav .work-work{
    color: rgba(255, 100, 100, 1);
}
.fa-bars{
    position: absolute;
    align-content: end;
    top: 15px;
     right:20px;
     font-weight: 700;
     font-size: 30px;
     display: none;
     cursor: pointer;
 }
.bars-navbar{
    width:100%;
    height:0;
    border: 1px solid #666;
    border:none ;
    background:rgba(255, 255, 255, 1);
    overflow: hidden;
    transition: .6s ease;
 
 }
 
 .active{
   height: 45vh;
 }
 
 .navbar-menyu{
 display: flex;
 flex-direction: column;
 justify-content:start;
 align-items: flex-start;
 width: 100%;
 padding-left:20px;
 padding-top: 20px;

 }
 .navbar-menyu a{
     text-decoration: none;
     padding-top: 20px;
     border-bottom: 1px solid rgba(224, 224, 224, 1) ;
     font-weight: 700;
     font-size: 24px;
     color: #000;
 }
 .bars-navbar > a{
     text-decoration: none;
     color: #000;
 }
   
.header-detail{
display: flex;
flex-direction: column;
flex-wrap: wrap;
padding: 78px 235px;
}
.header-detail img{
    max-width: 100%;
}
.detail1{
    padding-bottom: 54px;
}
.detail1 h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 49.94px;
}
.detail1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
}
.card-wrk{
    display: flex;
    align-items: center;
}
.card-wrk p{
    line-height: 29.38px;
    font-weight: 400;
    font-size: 20px;
    padding-left: 17px;
}
.card-wrk button{
width: 62px;
height: 28px;
border-radius: 16px;
background: #FF7C7C;
font-weight: 900;
font-size: 18px;
color: rgba(255, 255, 255, 1);
padding-bottom: 15px;
border: none;
outline: none;
}
.detail2{
    padding-bottom: 27px;
}
.detail2 h1{
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
}
.detail2 h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;  
}
.detail2 p{
    line-height: 29.38px;
    font-weight: 400;
    font-size: 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 83px;
}
.footer-logo a{
    padding-top: 51px;
    padding-left:17.5px;
    padding-right: 17.5px;
}
.footer p{
    font-size:14px;
    font-weight: 400;
    line-height: 20.45px;
    padding-top: 26px;
    padding-bottom: 56px;
    color: rgba(33, 36, 61, 1);

}
@media(max-width:1300px){
    .header-detail{
        padding: 100px;
    }
}
@media(max-width:1000px){
    .header-detail{
        padding: 80px;
    }
}
@media(max-width:768px){
    .nav a{
        display: none;
    }
    .fa-bars{
        display: flex;
    }
    .header-detail{
        padding:40px;
    }
    .detail1 h1{
        font-size: 22px;
    }
    .card-wrk p{
        font-size: 12px;
        font-weight: 500;
    }
    .detail1 p{
        font-size: 14px;
    }
    .detail2 h1{
        font-size: 24px;
    }
    .detail2 h2{
        font-size: 22px;
    }
.detail2 p{
    font-size: 14px;
}
}