@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
body{
    font-family: 'Heebo' , sans-serif;
}
.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 60px;
    padding-top: 26px;
}
.nav a{
    text-decoration: none;
    padding-right: 20px;
font-weight: 500;
font-size: 20px;
line-height:29.38px;
color: #000;

}
.nav .nav-work{
    color: rgba(255, 100, 100, 1);
}
.bars-navbar{
    width:100%;
    height:0;
    border: 1px solid #666;
    border:none ;
    background:rgba(255, 255, 255, 1);
    overflow: hidden;
    transition: .6s ease;
 
 }
 
 .active{
   height: 45vh;
 }
 
 .navbar-menyu{
 display: flex;
 flex-direction: column;
 justify-content:start;
 align-items: flex-start;
 width: 100%;
 padding-top: 20px;
 padding-left: 20px;

 }
 .navbar-menyu a{
     text-decoration: none;
     letter-spacing: 2px;
     border-bottom: 1px solid rgba(224, 224, 224, 1) ;
     padding-top: 20px;
     font-weight: 700;
     font-size: 24px;
     color: #000;
 }
 .bars-navbar > a{
     text-decoration: none;
     color: #000;
 }
 .fa-bars{
    position: absolute;
    align-content: end;
    top: 10px;
     right:20px;
     font-weight: 700;
     font-size: 30px;
     display: none;
     cursor: pointer;
 }
 
.header-work{
    display: flex;
    flex-direction: column;
    padding-left: 235px ;
    padding-right:235px ;
    padding-top: 90px;
}
.card-work1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom:15px;
}
.card-work2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom:15px;
}
.card-work3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom:15px;
}
.left-card{
    padding-top: 22px;
    display: flex;
    flex-basis:28%;
}
.right-card{
    display: flex;
    flex-direction: column;
    flex: 1;

}
.right-card h1{
    font-size: 30px;
    font-weight: 700;
}
.right-card span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.mini-card{
    display: flex;
    align-items: center;
}
.mini-card button{
    width: 62px;
    height:25px;
    border-radius:16px;
    border: none;
    outline: none;
    background: rgba(20, 40, 80, 1);
color: rgba(255, 255, 255, 1);

}
.mini-card p{
font-size: 20px;
font-weight: 400;
line-height: 29.38px;
color: rgba(134, 149, 164, 1);
padding-left: 36px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.footer-logo a{
    padding-top: 51px;
    padding-left:17.5px;
    padding-right: 17.5px;
}
.footer p{
    font-size:14px;
    font-weight: 400;
    line-height: 20.45px;
    padding-top: 26px;
    padding-bottom: 56px;
    color: rgba(33, 36, 61, 1);

}
@media(max-width:768px){
    nav a{
        display: none;
    }
    .fa-bars{
        display: flex;
    }
    .header-work{
        padding:40px;
    }
    .header-work p{
        font-size: 12px;
    }
    .header-work h1{
        font-size: 24px;
    }
}